<div class="projects-container">
    <div class="page-button clearfix">
        <button type="button" class="btn btn-custom btn-green btn-md pull-right" ng-click="openModal()">Create Project</button>
    </div>
    <flash-message></flash-message>
    <div ng-if="projects.length">
        <div class="clearfix">
            <div class="sorting pull-right">
                <span>Sort: </span>
                <ol class="nya-bs-select" ng-model="sort_item">
                    <li data-value="-created_at" class="nya-bs-option">
                        <a>Newest First</a>
                    </li>
                    <li data-value="project_name" class="nya-bs-option">
                        <a>A-Z</a>
                    </li>
                    <li data-value="-project_name" class="nya-bs-option">
                        <a>Z-A</a>
                    </li>
                </ol>
            </div>
        </div>
        <div class="media-items-container clearfix">
            <div class="media-item" ng-repeat="project in projects | orderBy: sort_item">
                <div class="project-container">
                    <div class="hovereffect horizontal-vertical-center">
                        <div class="img-wrapper">
                            <img ng-if="isImage(project.representative) || !project.representative" class="representative" ng-src="{{ project.representative }}" err-src="img/empty.png">

                            <video ng-if="isVideo(project.representative)" class="representative video-js"  preload="auto">
                                <source ng-src="{{ project.representative | trustUrl}}">
                            </video>
                        </div>

                        <div class="img-cover project-overlay">
                            <div class="btn-group menu-option" uib-dropdown is-open="status.isopen">
                                <button id="single-button" type="button" class="btn btn-custom btn-grey btn-sm" uib-dropdown-toggle ng-disabled="disabled">Options</button>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                    <li role="menuitem"><a href ng-click="showProjectVideo(project.result_video, project.representative, project.project_name)">Play</a></li>
                                    <li class="divider"></li>
                                    <li role="menuitem"><a confirm-really-do="deleteProject( {{project.project_id}} )" confirm-message="Are you sure you want to delete your project?" href>Delete</a></li>
                                </ul>
                            </div>
                            <a class="menu-edit btn btn-custom btn-outline btn-md" ui-sref="project.edit({id: project.project_id, title: project.project_name})">View Project</a>
                        </div>
                    </div>
                    <h4 class="project-title">{{ project.project_name | limitLength:true:15:' ...'  }}</h4>
                    <p class="project-desc">{{ project.screen_count }} screens</p>
                </div>
            </div>
        </div>  
    </div>

    <div ng-if="projects.length == 0">
        <div  class="text-center">
            <img class="representative" ng-click="openModal()" ng-src="/img/icons/blurbiz_create_project.png" style="margin: 0 auto; width: 200px; height: 175px;">
            <h3>Oops, You have no projects.</h3>
            <p class="grey">Click here or on "Create Project" to start</p>
        </div>
    </div>
    

    <script type="text/ng-template" id="createProjectModal.html">
        <div class="modal-body">
            <span class="btn-close" ng-click="cancel()"></span>
            <h3 class="modal-title" id="modal-title">Create Project</h3>
            <input type="text" class="form-control" required="required" placeholder="Your project name" ng-model="project_name" ng-enter="ok()" />
            <span class="text-danger">{{perror}}</span>
        </div>
        <div class="modal-footer">
            <button class="btn btn-custom btn-green btn-md" type="button" ng-click="ok()">Create</button>
        </div>
    </script>
</div>