
<div class="projects-container">
    <div class="row">
        <div class="item dropdown" uib-dropdown>
            <a class="btn btn-default dropdown-toggle" href="#" uib-dropdown-toggle>
                <img class="icon" src="img/icons/add.png">Add Media Files
            </a>
            <ul class="dropdown-menu">
                <li class="link">
                    <a ngf-select="uploadFiles($files)" multiple="multiple" class="center">
                        <img class="icon" src="img/icons/cloud-computing.png">
                        <span>Computer</span>
                    </a>
                    <a href="#" class="center">
                        <img class="icon" src="img/icons/dropbox.png">
                        <span>Dropbox</span>
                    </a>
                    <a href="#" class="center">
                        <img class="icon" src="img/icons/drive.png">
                        <span>Google Drive</span>
                    </a>
                    <a href="#" class="center">
                        <img class="icon" src="img/icons/box.png">
                        <span>Box</span>
                    </a>
                    <a href="#" class="center">
                        <img class="icon" src="img/icons/instagram.png">
                        <span>Instagram</span>
                    </a>
                    <a href="#" class="center">
                        <img class="icon" src="img/icons/url-link.png">
                        <span>URL</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="pull-right">
            <a href="#" class="btn btn-link center">
                <img class="icon" src="img/icons/down-arrow-on-horizontal-line.png" />
                <span>Download</span>
            </a>
            <a href="#" class="btn btn-link center">
                <img class="icon" src="img/icons/media-play-symbol.png" />
                <span>Play</span>
            </a>
            <a href="#" class="btn btn-link center">
                <img class="icon" src="img/icons/share-option.png" />
                <span>Share</span>
            </a>
        </div>
    </div>
    
    <!-- <div class="row">

        Upload Log:
        <pre>{{log}}</pre>
    </div>  -->

    <div drag-drop-uploader>
        <div class="row" ng-show="showProjects">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-repeat="m in media">
                <div style="height: 184px" class="project-container text-center">
                    <div class="hovereffect">
                        <img class="representative" ng-src="{{ m.path }}">
                        <div class="img-cover">
                            <div class="hover-btn-delete">
                                <button type="button" class="close" data-dismiss="alert">
                                    <span aria-hidden="true">×</span>
                                    <span class="sr-only">Close</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  

        <div class="row" ng-hide="showProjects">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div style="height: 184px" class="project-container text-center">
                    <div class="hovereffect">
                        <img class="representative" ng-src="/img/empty.png">
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--<div id="holder"></div><p id="upload" class="hidden"><label>Drag & drop not supported, but you can still upload via this input field:<br><input type="file"></label></p><p id="filereader">File API & FileReader API not supported</p><p id="formdata">XHR2's FormData is not supported</p><p id="progress">XHR2's upload progress isn't supported</p><p>Upload progress: <progress id="uploadprogress" min="0" max="100" value="0">0</progress></p>-->

<style>
    /*#holder { border: 10px dashed #ccc; width: 300px; min-height: 300px; margin: 20px auto;}*/
    #holder.hover { border: 10px dashed #0c0; }
    #holder.hover .img-cover { display: none; }
    #holder img { display: block; margin: 10px auto; }
    #holder p { margin: 10px; font-size: 14px; }
    progress { width: 100%; }
    progress:after { content: '%'; }
    .fail { background: #c00; padding: 2px; color: #fff; }
    .hidden { display: none !important;}
    .hover-btn-delete {
        position: absolute;
        right: 15px;
    }
</style>


    
</div>