
<div class="projects-container">
    <div class="row">
        <div class="item dropdown" uib-dropdown>
            <a class="btn btn-default dropdown-toggle" href="#" uib-dropdown-toggle>
                <img class="icon" src="img/icons/add.png">Add Media Files
            </a>
            <ul class="dropdown-menu">
                <li class="link">
                    <a href="#" class="center">
                        <img class="icon" src="img/icons/cloud-computing.png">
                        <span>Computer</span>
                    </a>
                    <a href="#" class="center">
                        <img class="icon" src="img/icons/dropbox.png">
                        <span>Dropbox</span>
                    </a>
                    <a href="#" class="center">
                        <img class="icon" src="img/icons/drive.png">
                        <span>Google Drive</span>
                    </a>
                    <a href="#" class="center">
                        <img class="icon" src="img/icons/box.png">
                        <span>Box</span>
                    </a>
                    <a href="#" class="center">
                        <img class="icon" src="img/icons/instagram.png">
                        <span>Instagram</span>
                    </a>
                    <a href="#" class="center">
                        <img class="icon" src="img/icons/url-link.png">
                        <span>URL</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="pull-right">
            <a href="#" class="btn btn-link center">
                <img class="icon" src="img/icons/down-arrow-on-horizontal-line.png" />
                <span>Download</span>
            </a>
            <a href="#" class="btn btn-link center">
                <img class="icon" src="img/icons/media-play-symbol.png" />
                <span>Play</span>
            </a>
            <a href="#" class="btn btn-link center">
                <img class="icon" src="img/icons/share-option.png" />
                <span>Share</span>
            </a>
        </div>
    </div>
    
    <div class="row">
        <droplet ng-model="interface">
            <div class="loading" ng-class="{ visible: interface.isUploading() }">
                <svg viewBox="0 0 400 400">
                    <path class="loading-path" data-progressbar ng-model="interface.progress.percent"
                          d="M 0,1 L 398,1 L 398,234 L 1,234 L 0,1"
                          stroke="#D3B2D1" stroke-width="1" fill-opacity="0"
                          style="stroke-dasharray: 392px, 392px;stroke-dashoffset: 392px;"></path>
                </svg>
            </div>

            <comment></comment>

            <section class="message success" ng-class="{ visible: success }" ng-click="success = false">
                Successfully uploaded {{uploadCount}} files.
            </section>

            <section class="message error" ng-class="{ visible: error }" ng-click="error = false">
                Failed to upload any of the files.
            </section>

            <ul class="files">

                <li ng-repeat="model in interface.getFiles(interface.FILE_TYPES.VALID)">
                    <droplet-preview ng-model="model"></droplet-preview>
                    <div class="delete" ng-click="model.deleteFile()">&times;</div>
                    <div class="size">{{model.file.size / 1024 / 1024 | number: 1}}MB</div>
                </li>

            </ul>

        </droplet>
    </div>  
    
</div>