<div class="modal-content">	
    <div class="modal-body">
    	<div class="text-center"><img src="img/getstarted.png"></div>
    	<div class="text-center"><h4>Let's Get Started!</h4></div>
    	<div class="text-center">Thanks for trying Blurbiz. Hope you enjoyed creating projects, so here are a few options for you to consider going forward.</div>
        <div class="text-center" style="margin-top:15px;"><button type="button" class="btn btn-custom btn-green btn-md" ng-click="gotoplans()">See Plans</button></div>
    </div>
    <div class="modal-footer" style="margin-top:10px;">
        <a class="" ng-click="signout()">Sign Out</a>
    </div>
</div>

<style>
    .ng-isolate-scope{
        background-color: rgba(0,0,0, 0.6);
    }
</style>