<div class="modal-body fb-modal">
    <span class="btn-close" ng-click="cancel()"></span>
    <div class="fb_content">
        <div class="fb_image">
            <img src="img/icons/{{socialDescription.icon}}.png" style="border: none;" />
        </div>
        <div class="fb_heading">
            Your {{socialDescription.text}} account is not connected
        </div>
        <div class="fb_text">
            Want to Connect your {{socialDescription.text}} account?
        </div>
        <button ng-click="ok()" ng-model="project.share" class="btn btn-custom btn-green btn-md">Connect with {{socialDescription.text}}</button>
    </div>

</div>