<div class="modal-body fb-modal">
    <span class="btn-close" ng-click="cancel()"></span>
    <div class="fb_content">
        <div class="fb_image">
            <img src="/img/twitter.png" style="border: none;" />
        </div>
        <div class="fb_heading">
            Your twitter account is not connected
        </div>
        <div class="fb_text">
            Connecting your twitter account allows us to make your videos displays on twitter feed.
        </div>
        <button ng-click="ok()" ng-model="project.share" class="btn btn-custom btn-green btn-md">Connect with twitter</button>
    </div>
</div>