<div class="form-container">
    <h2>Register</h2>
    <div ng-if="message.error" class="alert alert-danger">{{ message.error }}</div>
    <form method="post" ng-submit="signup()">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control" ng-model="name" required />
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" class="form-control" ng-model="email" required />
        </div>
        <div class="form-group">
            <label for="company">Company</label>
            <input type="text" name="company" id="company" class="form-control" ng-model="company" required />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" ng-model="password" class="form-control" required />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Register</button>
            <a ui-srref="login" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>